/* IMPORTS A "GOOGLE FONT" FROM THE GOOGLE SERVERS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;600;700;800&display=swap');
/* IMPORTS A "LOCAL FILE" */
@import url(nav.css);
/* "SMOOTH SCROLLING" ON PAGE: */
html{
    scroll-behavior: smooth;
}
/* VARIABLES IN HTML: */
:root {
    --light: #efefef;
    --dark: #343434;
    --headings: #63bddd;
    --primary: #4aaacc;
    --secondary: #cacad2;
    --warning: #dd4111;
    --success: #449955;
}

/* START OF "ELEMENT - STYLING" */
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background-color: var(--light);
    color: var(--dark);
}

/* GLOBAL BLOCKS */
.container-main{
    max-width: 1300px;
    margin: auto;
    border: 1px solid var(--dark);
}

/* TEXT FORMATTING */
h1, h2, h3, h4, h5, h6{
    margin: 0.5rem 0 0 1rem;   /* NOTICE DIFFERENCE BETWEEN EM AND REM? */
    font-weight: 400;
}
p, a{
    margin: 1rem 0.8rem;
}
/* MEDIA QUERIES: ONE "OVER" ("min-width"), and ONE "UNDER" ("max-width")! ;0) */

/* OVER 1600px */
@media (min-width: 1600px) {
}
/* OVER 1200PX */
@media (min-width: 1200px){
    /* html{
        background-color: orangered;
    }; */
}

/* UNDER 600px */
@media (max-width: 500px) {
    /* html{
        background-color: orange;
    } */
}